#header {
  margin-top: 2rem;
  margin-bottom: 2rem;

  ul {
    display: flex;

    li {
      flex: 1;
      overflow: auto;
      padding-top: 1rem;
    }

    li a {
      color: #f6f4e6;
      /* border: 1px solid white; */
      text-decoration: none;
      font-size: 1.2em;
      font-weight: 500;
      display: inline-block;

      -webkit-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
    }

    li a.active {
      color: #fddb3a;
    }

    li a:hover {
      color: #fddb3a;
    }
  }
}
